{%  extends 'base.html.twig' %}



{% block body %}



<div class="datacontainer bg-secondary">
{% for row in personalinfo %}
     
    

<div class="row">
  <div class="col-sm-8">
    <div class="card">
        <div class="card-header">
    		<h5 class="card-title">Personal Data</h5>
  		</div>
		<div class="card-body">
        
        <p class="card-text">            
        	Surname: {{ row.surname }}
            <br/>Name: {{ row.name }}
            <br/>Birthdate: {{ date (row.birthdate).format('d/m/Y') }}
            <br/>Birthplace: {{ row.birthplace }}
            <br/>Citizenship: {{ row.citizenship }}
            <br/>Martial Status: {{ row.maritalstatus }}
            <br/>Children: {{ row.children }}
            <br/>Address: {{ row.address|raw }}
            <br/>Salary: {{ row.salary }}
            <br/>Mobile Phone: {{ row.mobilephone }}
            <br/>Smoker: {{ row.smoker }}
            <br/>Driving Licence: {{ row.drivinglicence }}
            <br/>Mail Address: {{ row.mail }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
    
        <div class="card-header">
    		<h5 class="card-title">Acquired Skills</h5>
  		</div>  
      <div class="card-body">
        
        <p class="card-text">
        
        	<table class="table table-light borderless">
       		{% for rowSkill in row.acquiredSkills %}
       		<tr data-toggle="modal" data-target="#{{ rowSkill.id }}">
       			<td>
       			             		
                    	    
                    	    <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#{{ rowSkill.id }}">
     							 <a data-toggle="popover" data-trigger="hover" data-content="more details">{{ rowSkill.label }} <i class="fas fa-info-circle"></i></a>
    						</button>
                    	 
                    	 
                    	 
               			
       			</td>
       		</tr>
       		<!-- Modal -->
            <div class="modal fade" id="{{ rowSkill.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ rowSkill.label }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="acquiredskillmodal">{{ rowSkill.label }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ rowSkill.description|raw }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            </table>

        	<a href="{{ path('acquiredskill_add', {'personalinfoid': row.getId()}) }}">
        		<button class="btn btn-success btn-block">{{ 'ACQUIREDSKILL.ADD'|trans }}</button>
        	</a>
        
		</p>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
        <div class="card-header">
    		<h5 class="card-title">Languages</h5>
  		</div>
		<div class="card-body">
       
        <p class="card-text">
				
			{% for rowLanguages in row.languages %}
				 {{ rowLanguages.label }}
				 {{ rowLanguages.written }}
				 {{ rowLanguages.spoken }}
			{% endfor %}
			<a href="{{ path('languages_add', {'personalinfoid': row.getId()}) }}">
        		<button class="btn btn-success btn-block">{{ 'LANGUAGES.ADD'|trans }}</button>
        	</a>
		</p>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
    
            <div class="card-header">
    		<h5 class="card-title">Soft Skills</h5>
  		</div>
      <div class="card-body">

        <p class="card-text">
			
			{% for rowSoftSkills in row.softskills %}
				 {{ rowSoftSkills.label }}
				 {{ rowSoftSkills.description|raw }}

			{% endfor %}

		</p>

      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-sm-6">
    <div class="card">
        <div class="card-header">
    		<h5 class="card-title">Hobbies</h5>
  		</div>
		<div class="card-body">
       
        <p class="card-text">
				
			
			{% for rowHobbies in row.hobbies %}
				 {{ rowHobbies.label }}
				 {{ rowHobbies.description|raw }}

			{% endfor %}

		</p>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
    
            <div class="card-header">
    		<h5 class="card-title">Personal Web Sites</h5>
  		</div>
      <div class="card-body">

        <p class="card-text">
			
			
			{% for rowWeb in row.webs %}
				 {{ rowWeb.label }}
				 {{ rowWeb.url}}

			{% endfor %}	
		</p>

      </div>
    </div>
  </div>
</div>




{% endfor %}	
</div>

{% endblock %}