{%  extends 'base.html.twig' %}




{% block body %}



<div class="datacontainer bg-secondary">

<div class="card text-center">
	<div class="card-header">
		<h5>Web Portfolio</h5>
	</div>
	<div class="card-body">	
  		<p class="card-text">You can find my Web Portfolio down here. For the description please click on the image itself.</p>
	</div>  		
</div>
{% for row in webportfolio %}
	<div class="row form-group">
        <div class="col-xs-12 col-md">
        <div class="card">
            <div class="card-header">
        		<h5 class="card-title text-center">{{ row.label }}</h5>
      		</div>
    		<div class="card-body">
        
            <div class="panel panel-default">

                <div class="panel-image hide-panel-body text-center">
                	{{ row.mainimage|raw }}
                    <label for="toggle-{{ row.id }}"></label>
                </div>
                <input type="checkbox" id="toggle-{{ row.id }}" class-"panel-image-toggle">
                <div class="panel-body">
                    <h4>{{ row.label }}</h4>
                    <p class="card-text">{{ row.description|raw }}</p>
                </div>

            </div>
        </div> 
            <div class="card-footer">
            
                <div class="panel-footer text-center">
                	<span class="badge badge-pill badge-success">{{ row.technic }}</span>
					<a href="{{ row.url }}" target="_blank" class="badge badge-pill badge-warning">{{ row.url }}</a>
                    
                </div>

      		</div>   
        </div>    
        </div>    
        </div>
        
{% endfor %}



<div class="card text-center">
	<div class="card-header">
		<h5>Offline Projects</h5>
	</div>
	<div class="card-body">	
  		

    <div class="table-responsive">
       <table id="offlineprojects" class="table table-light table-striped table-bordered">
       <thead>
            <tr class="tableHeader">
                <th width="15%">Name</th>
    			<th>Little Description</th>
    			<th width="15%">based on</th>
            </tr>
       </thead>
       <tbody>     
            <tr>
                <td>CHDH</td>
                <td>This was a site for a computer selling and reparing company I worked for. When I left them they took of the page as they had problems to understand the Joomla CMS</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Dark Group</td>
                <td>And old site of myself for gaming purposes.</td>
				<td>Joomla 1.x</td>
            </tr>
            <tr>
                <td>Del Grosso</td>
                <td>A restaurant page with the current menu, weekly menu, newsletter etc.</td>
				<td>Joomla 1.x / 2.x</td>
            </tr>
            <tr>
                <td>JB007</td>
                <td>James Bond 007 - A page dedicated to all James Bond Movies and the universe around it</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Silver-Surfer</td>
                <td>Silver-Surfer was a internet office within a retirement home to get young an old people together</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Eliza Club</td>
                <td>Eliza was a computer club which unfortunately closed his doors. They were indirectly responsible fot the Silver-Surfer Office</td>
				<td></td>
            </tr>
            <tr>
                <td>Boutique Tentation</td>
                <td>A site about a clothes shop</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Giusti</td>
                <td>Giusti was/is a painter from Luxembourg and he wanted a site to show his paintings to the world</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Save Emilie Lahr</td>
                <td>I created the site for the little girl Emilie Lahr which is now unfortunately death. A site still exists but not my version. Due to the family Lahr, which told me that the family Cerri is trustworty, I lost nearly all I owned (over 100.000€ in damage)</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>BioToolBox</td>
                <td>The site from my uncle about biology</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Monique Erpelding</td>
                <td>Monique Erpleding had a piercing Studio and this was the presentation site of it</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>JMJ / ImmoSVD</td>
                <td>A real estate page which was swapped to a global estate page from Luxembourg</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>NathWorld / Nathalie Goedert</td>
                <td>The site of my wife :) - Later we gonna recreate a new one</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>PC History</td>
                <td>What is a PC? What is hardware? Those and many more questions were answered on my site about the PC History. I'm trying to integrate it now on my Eliza Family page</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>KAS</td>
                <td>I need to rethink about it as I can't remember exactly about it was</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Konschthaus "a Frantzen"</td>
                <td>A house of art site - Unfortunately we weren't the same mind and so we separated us</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Dark Zone</td>
                <td>My own page from the very beginning of my own pages but I finally removed the domain this year as it was not necessary any more</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Dr. Contier</td>
                <td>A simple presentation page of a doctor office</td>
				<td>HTML</td>
            </tr>
            <tr>
                <td>GeCaMed</td>
                <td>My support and presentation site for the application GECAMed, a doctors office management application</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Datateam Support</td>
                <td>When I worked as independent technician I created this site as ticketing tool for my self and my customers</td>
				<td>OS Ticket 1.x</td>
            </tr>
            <tr>
                <td>The Storm</td>
                <td>I had to create a temporary page for this Tattoo convention (Unfortunately I didn't know that it was just a temporary site as I invested many time in it)</td>
				<td>Joomla 3.x</td>
            </tr>
            <tr>
                <td>Weila</td>
                <td>A real estate page I worked with while I was working for Computerhellef Doheem</td>
				<td>Joomla 1.x</td>
            </tr>
            <tr>
                <td>Alas</td>
                <td>A site I also worked with on while I was working for Computerhellef Doheem but it was now replaced by a simple HTML one (with many errors)</td>
				<td>Joomla 1.x</td>
            </tr>

                                                 
        </tbody>    
        </table>
    </div>

	</div>  		
</div>




<div class="card text-center">
	<div class="card-header">
		<h5>Stopped Projects</h5>
	</div>
	<div class="card-body">	
  		

    <div class="table-responsive">
       <table id="stoppedprojects" class="table table-light table-striped table-bordered">
       <thead>
            <tr class="tableHeader">
                <th width="15%">Name</th>
    			<th>Little Description</th>
    			<th width="15%">based on</th>
            </tr>
       </thead>
       <tbody>     
            <tr>
                <td>FCSM</td>
                <td>A great football club page but unfortunately they never understand how to use it to update the scores etc.</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Diana Paradise</td>
                <td>A page dedicated to Lady Di. A person created the original dresses from Lady Di as doll dresses. They looked realy great but she never could decide how the page should look like. I create 3 complete pages and at the end suddenly there was always something else not good...</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Feitler</td>
                <td>A tile laying company which wanted to have a website. But the boss was not yet clear for the new century with mails and co and so we talked not the same language and so we decided that it is better to stop. Also when he was looking at the demo I just was working on it and a wrong template was activated but he didn't listen to me explaining him that point</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>SFFS</td>
                <td>We were thinking that it would be great to create a site for the science fiction and fantasy society but we never finished the project</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Series</td>
                <td>I wanted to create a page about all the old series I liked but due to time problems, like always, I couldn't realize it. Maybe I will integrate it on the Eliza Family Site</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>Auf Wohlfahrt</td>
                <td>My wife and I wanted to take over a little inn in Germany but at the end all came different as planned and so all stopped</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>C.A. Press</td>
                <td>A printing company wanted to have a new site and the base was set but than never a feedback with new data came back to me so I stopped the work on it</td>
				<td>Joomla 3.x</td>
            </tr>
            <tr>
                <td>Chambres le moulin à grains</td>
                <td>This one is the one I'm the most furious about. I invested money and time to create them a correct and professional page and never got their photos like they said and suddenly they stopped the entire project</td>
				<td>Joomla 3.x</td>
            </tr>
            <tr>
                <td>HLBN</td>
                <td>Hellef fier Letzebuerger Bierger an Nout wa a site for people from Luxembourg with difficulties. Unfortunately I was left alone with my ideas and so only the facebook page left over</td>
				<td>Joomla 2.x</td>
            </tr>
            <tr>
                <td>RBV</td>
                <td>A site for a radio - Never put fully online as the owner wouldn't update his DNS servers</td>
				<td>Joomla 3.x</td>
            </tr>
            <tr>
                <td>Clan</td>
                <td>Also a project I started for clans but stopped it as I couldn't collect enough people together for that. A big problem here in Luxembourg is always to get people together as everyone wants all but noone wants to do something for it</td>
				<td>Joomla 2.x</td>
            </tr>
             

                        
        </tbody>    
        </table>
    </div>

	</div>  		
</div>



        
</div>


{% endblock %}