{%  extends 'base.html.twig' %}




{% block body %}



<div class="datacontainer bg-secondary">

<div class="card text-center">
	<div class="card-header">
		<h5>Web Portfolio</h5>
	</div>
	<div class="card-body">	
  		<p class="card-text">You can find my Web Portfolio down here. For the description please click on the image itself.</p>
	</div>  		
</div>
{% for row in webportfolio %}
	<div class="row form-group">
        <div class="col-xs-12 col-md">
        <div class="card">
            <div class="card-header">
        		<h5 class="card-title text-center">{{ row.label }}</h5>
      		</div>
    		<div class="card-body">
        
            <div class="panel panel-default">

                <div class="panel-image hide-panel-body text-center">
                	{{ row.mainimage|raw }}
                    <label for="toggle-{{ row.id }}"></label>
                </div>
                <input type="checkbox" id="toggle-{{ row.id }}" class-"panel-image-toggle">
                <div class="panel-body">
                    <h4>{{ row.label }}</h4>
                    <p class="card-text">{{ row.description|raw }}</p>
                </div>

            </div>
        </div> 
            <div class="card-footer">
            
                <div class="panel-footer text-center">
                	<span class="badge badge-pill badge-success">{{ row.technic }}</span>
					<a href="{{ row.url }}" target="_blank" class="badge badge-pill badge-warning">{{ row.url }}</a>
                    
                </div>

      		</div>   
        </div>    
        </div>    
        </div>
        
{% endfor %}        
</div>


{% endblock %}