{%  extends 'base.html.twig' %}


{% block body %}

<div class="datacontainer bg-secondary">
	<div class="card">
   	<h2 class="evaluationul text-center">Hardware</h2>
        <div class="table-responsive">
           <table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                <tr class="tableHeader bg-secondary">
                    <td>Brand or Application</td>
        			<td>Product</td>
        			<td>Evaluation</td>
                </tr>
                    {% for row in selfevaluation if row.categorie.label == "Hardware"%}
                        <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
    
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    
    
    <div class="card">
   	<h2 class="evaluationul text-center">Software</h2>
        <div class="table-responsive">
           <table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                <tr class="tableHeader bg-secondary">
                    <td>Brand or Application</td>
        			<td>Product</td>
        			<td>Evaluation</td>
                </tr>
                    {% for row in selfevaluation if row.categorie.label == "Software"%}
                        <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
    
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>

    <div class="card">
   	<h2 class="evaluationul text-center">Web Development</h2>
        <div class="table-responsive">
           <table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                <tr class="tableHeader bg-secondary">
                    <td>Brand or Application</td>
        			<td>Product</td>
        			<td>Evaluation</td>
                </tr>
                    {% for row in selfevaluation if row.categorie.label == "Web Development"%}
                        <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
    
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    
    
    <div class="card">    
   	<h2 class="evaluationul text-center">Web Software</h2>
        <div class="table-responsive">
           <table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                <tr class="tableHeader bg-secondary">
                    <td>Brand or Application</td>
        			<td>Product</td>
        			<td>Evaluation</td>
                </tr>
                    {% for row in selfevaluation if row.categorie.label == "Web Software"%}
                        <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
    
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    
    
    
    <div class="card">    
   	<h2 class="evaluationul text-center">Network</h2>
        <div class="table-responsive">
           <table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                <tr class="tableHeader bg-secondary">
                    <td>Brand or Application</td>
        			<td>Product</td>
        			<td>Evaluation</td>
                </tr>
                    {% for row in selfevaluation if row.categorie.label == "Network"%}
                        <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
    
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    
    
    
    <div class="card">    
   	<h2 class="evaluationul text-center">Virtualisation / RDP / RDS</h2>
        <div class="table-responsive">
           <table id="evaluation" class="table table-light table-striped table-hover table-bordered">
                <tr class="tableHeader bg-secondary">
                    <td>Brand or Application</td>
        			<td>Product</td>
        			<td>Evaluation</td>
                </tr>
                    {% for row in selfevaluation if row.categorie.label == "Virtualisation / RDP / RDS"%}
                        <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
    
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    
    
    
    <div class="card">    
   	<h2 class="evaluationul text-center">Programming (global)</h2>
        <div class="table-responsive">
           <table id="evaluation" class="table table-light table-striped table-bordered table-bordered table-hover">
                <tr class="tableHeader bg-secondary">
                    <td>Brand or Application</td>
        			<td>Product</td>
        			<td>Evaluation</td>
                </tr>
                    {% for row in selfevaluation if row.categorie.label == "Programming (global)"%}
                        <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
    
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    
                    
<h3 class="text-center text-warning evaluationul">Information about the evaluation points</h3>
<h4 class="text-center text-warning">0 = never done => 10 = best</h4>


</div>

{% endblock %}