{%  extends 'base.html.twig' %}


{% block body %}

<div class="datacontainer bg-secondary">

    <div class="row justify-content-md-center row-eq-height">
      <div class="col-sm">
        <div class="card text-center">
        	<div class="card-header">
        		<h5 class="card-title">Hardware</h5>
      		</div>
    		<div class="card-body">
             <p class="card-text">
            		<table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                    <tr class="tableHeader bg-info">
                        <td>Brand or Application</td>
            			<td>Product</td>
            			<td>Evaluation</td>
                    </tr>            		
            		{% for row in selfevaluation if row.categorie.label == "Hardware"%}
             		    <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
                        </tr>
            		{% endfor %}
            		</table>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center row-eq-height">
      <div class="col-sm">
        <div class="card text-center">
        	<div class="card-header">
        		<h5 class="card-title">Software</h5>
      		</div>
    		<div class="card-body">
             <p class="card-text">
            		<table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                    <tr class="tableHeader bg-info">
                        <td>Brand or Application</td>
            			<td>Product</td>
            			<td>Evaluation</td>
                    </tr>            		
            		{% for row in selfevaluation if row.categorie.label == "Software"%}
             		    <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
                        </tr>
            		{% endfor %}
            		</table>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center row-eq-height">
      <div class="col-sm">
        <div class="card text-center">
        	<div class="card-header">
        		<h5 class="card-title">Web Development</h5>
      		</div>
    		<div class="card-body">
             <p class="card-text">
            		<table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                    <tr class="tableHeader bg-info">
                        <td>Brand or Application</td>
            			<td>Product</td>
            			<td>Evaluation</td>
                    </tr>            		
            		{% for row in selfevaluation if row.categorie.label == "Web Development"%}
             		    <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
                        </tr>
            		{% endfor %}
            		</table>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center row-eq-height">
      <div class="col-sm">
        <div class="card text-center">
        	<div class="card-header">
        		<h5 class="card-title">Web Software</h5>
      		</div>
    		<div class="card-body">
             <p class="card-text">
            		<table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                    <tr class="tableHeader bg-info">
                        <td>Brand or Application</td>
            			<td>Product</td>
            			<td>Evaluation</td>
                    </tr>            		
            		{% for row in selfevaluation if row.categorie.label == "Web Software"%}
             		    <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
                        </tr>
            		{% endfor %}
            		</table>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center row-eq-height">
      <div class="col-sm">
        <div class="card text-center">
        	<div class="card-header">
        		<h5 class="card-title">Network</h5>
      		</div>
    		<div class="card-body">
             <p class="card-text">
            		<table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                    <tr class="tableHeader bg-info">
                        <td>Brand or Application</td>
            			<td>Product</td>
            			<td>Evaluation</td>
                    </tr>            		
            		{% for row in selfevaluation if row.categorie.label == "Network"%}
             		    <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
                        </tr>
            		{% endfor %}
            		</table>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center row-eq-height">
      <div class="col-sm">
        <div class="card text-center">
        	<div class="card-header">
        		<h5 class="card-title">Virtualisation / RDP / RDS</h5>
      		</div>
    		<div class="card-body">
             <p class="card-text">
            		<table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                    <tr class="tableHeader bg-info">
                        <td>Brand or Application</td>
            			<td>Product</td>
            			<td>Evaluation</td>
                    </tr>            		
            		{% for row in selfevaluation if row.categorie.label == "Virtualisation / RDP / RDS"%}
             		    <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
                        </tr>
            		{% endfor %}
            		</table>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center row-eq-height">
      <div class="col-sm">
        <div class="card text-center">
        	<div class="card-header">
        		<h5 class="card-title">Programming (global)</h5>
      		</div>
    		<div class="card-body">
             <p class="card-text">
            		<table id="evaluation" class="table table-light table-striped table-bordered table-hover">
                    <tr class="tableHeader bg-info">
                        <td>Brand or Application</td>
            			<td>Product</td>
            			<td>Evaluation</td>
                    </tr>            		
            		{% for row in selfevaluation if row.categorie.label == "Programming (global)"%}
             		    <tr>
                            <td>{{ row.brandapplication }}</td>
                            <td>{{ row.product }}</td>
        					<td>{{ row.evaluation }}</td>
                        </tr>
            		{% endfor %}
            		</table>
            </p>
          </div>
        </div>
      </div>
    </div>
    
                    
<h3 class="text-center text-warning evaluationul">Information about the evaluation points</h3>
<h4 class="text-center text-warning">0 = never done => 10 = best</h4>


</div>

{% endblock %}