{%  extends 'base.html.twig' %}



{% block body %}


<div class="datacontainer bg-secondary">
    {% for row in educationdegree %}
    
     <div class="row justify-content-md-center row-eq-height">
      <div class="col-sm">
        <div class="card text-center">
            <div class="card-header">
        		<h5 class="card-title">BACC - {{ row.label }}</h5>
      		</div>
    		<div class="card-body">
            
            <p class="card-text">
            
            <div class="row row-eq-height">
            <div class="col-sm text-center">
            	<p  class="jobsul">Grade</p>
                {{ row.grade }}
            </div>
            <div class="col-sm text-center">
            	<p  class="jobsul">Mention</p>
            	{{ row.mention }}
            </div>
            <div class="col-sm text-center">
            	<p  class="jobsul">Educational Facility</p>
            	{{ row.educationalfacility }}
            </div>
		  </div>            
		<hr/>
          <div class="row row-eq-height">
            <div class="col-sm">
            	<p class="jobsul text-center">Description</p>
             	{{ row.description|raw }}
        	</div> 
          </div> 
            
            
            </p>
          </div>
        </div>
      </div>
    </div>   

    {% endfor %}
</div>

{% endblock %}