{%  extends 'base.html.twig' %}



{% block body %}



<div class="datacontainer bg-secondary">
    {% for row in jobs %}




    <div class="row justify-content-md-center row-eq-height">
      <div class="col-sm">
        <div class="card">
            <div class="card-header">
        		<h5 class="card-title text-center">{{ row.label }}</h5>
      		</div>
    		<div class="card-body">

            <p class="card-text">
          <div class="row">
          <div class="col-sm text-center">
                {% if row.jobstart != null %}
                	<p  class="jobsul">Job start</p>
                    {{ row.jobstart|date("d/m/Y") }}
                {% endif %}
            </div>
            <div class="col-sm text-center">
            {% if row.jobend == null %}
              <p  class="jobsul">current job</p>
            {% endif %}
                {% if row.jobend != null %}
                	<p  class="jobsul">Job end</p>
               		{{ row.jobend|date("d/m/Y") }}
                {% endif %}
            </div>
            <div class="col-sm text-center">

                {% if row.jobend != null %}
                	<p  class="jobsul">working period</p>
                	{% set jobyear = date(row.jobend).diff((date(row.jobstart))).format('%y') %}
                	{% set jobmonth = date(row.jobend).diff((date(row.jobstart))).format('%m') %}
                	{% set jobdays = date(row.jobend).diff((date(row.jobstart))).format('%d') %}
            		{% if   jobyear > 0 %}
                       {{ date(row.jobend).diff((date(row.jobstart))).format('%y year(s)') }} -
   					{% endif %}
                	{% if   jobmonth > 0 %}
                        {{ date(row.jobend).diff((date(row.jobstart))).format('%m month(s)') }} -
                    {% endif %}
                	{% if   jobdays > 0 %}
                        {{ date(row.jobend).diff((date(row.jobstart))).format('%d day(s)') }}
                    {% endif %}
                {% endif %}
            </div>
          </div>

          <hr/>

           <div class="row">
            <div class="col-sm text-center">
            	<p class="jobsul">Employed as :</p>
                {{ row.employedas }}
            </div>
            <div class="col-sm text-center">
            	<p class="jobsul">Location :</p>
                {{ row.location }}
            </div>
           <div class="col-sm text-center">
            	<p class="jobsul">Country :</p>
                {{ row.country }}
            </div>


          </div>
     <hr/>

           <div class="row">
            <div class="col-sm">
            	<p class="jobsul text-center">Job Description :</p>
                {{ row.description|raw }}
            </div>
          </div>



   		</div>



            </p>
          </div>
        </div>
      </div>


    {% endfor %}
</div>

{% endblock %}
